@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

@font-face
  font-family: 'Tavolga Free'
  src: url("../fonts/tavolga-free.ttf")


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

input, button, textarea
  outline: none !important

.container
  max-width: 1200px !important
  padding: 0

.header-top
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #eeeeee
  .header-top-row1
    display: -webkit-flex
    display: -ms-flex
    display: flex
    max-width: 760px
    width: 100%
    justify-content: space-between
    padding: 14px 0
    .header-calendar,
    .header-tel-num,
    .header-wp
      padding-top: 4px
      display: -webkit-flex
      display: -ms-flex
      display: flex
      a
        margin-left: 15px
        font-family: 'Roboto', sans-serif
        font-size: 16px
        color: #a3b93c
    .header-calendar
      a
        color: #000
    .btn-call-us
      max-width: 120px
      width: 100%
      font-family: 'Raleway', sans-serif
      font-size: 12px
      height: 23px
      cursor: pointer
      border-radius: 5px
      border: none
      background-color: #eeb900
      border: 1px solid #eeb900
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08)
      &:hover
        transition: .3 ease-in-out
        background: #000
        border: 1px solid #000
        color: #eeb900
  .header-top-row2
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    padding: 14px 0
    .sign-and-signup
      display: -webkit-flex
      display: -ms-flex
      display: flex
      a
        font-family: 'Raleway', sans-serif
        color: #4c4c4c
        font-size: 14px
        display: block
        padding-top: 5px
        &:first-child
          padding-right: 10px
          position: relative
          &::before
            position: absolute
            content: url('../images/sign.png')
            left: -25px
            top: 4px
        &:last-child
          padding-left: 10px
          padding-top: 6px
          border-left: 1px solid #eeeeee


.header-bottom
  display: -webkit-flex
  display: -ms-flex
  display: flex
  padding: 15px 0
  .logo
    display: block
  .header-bottom-rowws
    width: 100%
    padding-left: 3rem
    .header-bottom-row1
      display: -webkit-flex
      display: -ms-flex
      display: flex
      width: 100%
      justify-content: space-between
      padding-top: 0.75rem
      .nav-menu
        padding: 15px 0
        max-width: 470px
        width: 100%
        ul
          display: -webkit-flex
          display: -ms-flex
          display: flex
          justify-content: space-between
          li
            a
              font-size: 14px
              color: #4c4c4c
              font-family: 'Raleway', sans-serif
      .search-input
        display: -webkit-flex
        display: -ms-flex
        display: flex
        background: #f6f6f6
        width: 100%
        max-width: 285px
        padding: 0 0.75rem
        height: 40px
        border-radius: 30px
        overflow: hidden
        input
          background: none
          padding-left: 0.5rem
          font-family: 'Raleway', sans-serif
          font-size: 16px
          width: 100%
          border: none
        button
          background: #f6f6f6
          border: none
          cursor: pointer
          padding-top: 4px
      .header-some-icons
        ul
          display: -webkit-flex
          display: -ms-flex
          display: flex
          li
            margin: 0.5rem 0.75rem
            position: relative
            span
              position: absolute
              display: block
              width: 17px
              height: 17px
              border-radius: 50%
              background: #999999
              color: #fff
              text-align: center
              padding-top: 2px
              padding-left: 1px
              font-family: 'Roboto', sans-serif
              font-size: 12px
              top: -10px
              right: -18px
    .header-bottom-row2
      padding-top: 0.5rem
      .header-bottom-menu
        width: 100%
        max-width: 900px
        ul
          display: -webkit-flex
          display: -ms-flex
          display: flex
          justify-content: space-between
          li
            position: relative
            &::after
              content: url('../images/arrow-down.png')
              position: absolute
              right: -2px
              top: 9px
            a
              font-family: 'Raleway', sans-serif
              font-weight: 900
              color: #4c4c4c
              text-transform: uppercase
              display: block
              padding: 8px 12px
              text-decoration: none
              border: 2px solid #fff
              &:hover
                transition: .2s ease-in-out
                text-shadow: 1px 1px 0 #4c4c4c
          .stock
            &::after
              content: none
            a
              background: #d2451f
              padding: 8px 15px
              border-radius: 30px
              color: #fff
              text-decoration: none
              border: 2px solid #d2451f
              &:hover
                transition: .3s ease-in-out
                background: #fff
                color: #d2451f
                text-shadow: none

.header-nav
  background-color: rgba(163, 185, 60, 0.9)
  color: rgba(255, 255, 255, 0.25)
  font-family: "montserrat-light", sans-serif
  font-size: 1.3rem
  line-height: 1.846
  padding: 6rem 0
  height: 100%
  width: 280px
  position: fixed
  right: 0
  top: 0
  z-index: 9999
  overflow-y: auto
  overflow-x: hidden
  -webkit-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  -webkit-transform: translateZ(0)
  -webkit-backface-visibility: hidden
  -webkit-transform: translateX(100%)
  -ms-transform: translateX(100%)
  transform: translateX(100%)
  visibility: hidden

.header-nav__close
  display: block
  height: 30px
  width: 30px
  -webkit-border-radius: 3px
    border-radius: 3px
  background-color: #fff
  position: absolute
  top: 36px
  right: 30px
  font: 0/0 a
  text-shadow: none
  color: transparent
  z-index: 800

.header-nav__close span::before,
.header-nav__close span::after
  content: ""
  display: block
  height: 2px
  width: 12px
  background-color: #2c2c40
  position: absolute
  top: 50%
  left: 9px
  margin-top: -1px

.header-nav__close span::before
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)

.header-nav__close span::after
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)

/* menu is open
 * ----------------------------------------------- */
.menu-is-open .header-nav
  -webkit-transform: translateX(0)
  -ms-transform: translateX(0)
  transform: translateX(0)
  visibility: visible
  -webkit-overflow-scrolling: touch

.menu-is-open .header-nav .header-nav__content
  opacity: 1
  visibility: visible
  -webkit-transition-property: all
  -o-transition-property: all
  transition-property: all
  -webkit-transition-duration: 0.5s
  -o-transition-duration: 0.5s
    transition-duration: 0.5s
  -webkit-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out
    transition-timing-function: ease-in-out
  -webkit-transition-delay: 0.3s
  -o-transition-delay: 0.3s
    transition-delay: 0.3s
  left: 0

/* -------------------------------------------------------------------
 * ## mobile menu toggle
 * ------------------------------------------------------------------- */
.header-menu-toggle
  display: none
  right: 30px
  top: 55px
  position: absolute
  height: 42px
  width: 42px
  line-height: 42px
  padding: 1.1rem
  font-family: "montserrat-medium", sans-serif
  font-size: 1.3rem
  text-transform: uppercase
  letter-spacing: .3rem
  color: #2c2c40 !important
  -webkit-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out
  z-index: 99

.header-menu-toggle.top
  top: 16px

.header-menu-toggle.opaque
  background-color: #000000

.header-menu-toggle.opaque .header-menu-text
  background-color: #000000

.header-menu-toggle:hover, .header-menu-toggle:focus
  color: #8cc541

.header-menu-text
  display: block
  position: absolute
  top: 0
  left: -70px
  width: 70px
  padding-left: 12px

.header-menu-icon
  display: block
  width: 35px
  height: 4px
  margin-top: -1px
  left: 10px
  top: 50%
  right: auto
  bottom: auto
  background-color: #a3b93c !important
  -webkit-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out
  border-radius: 10px

.header-menu-icon::before, .header-menu-icon::after
  content: ''
  width: 100%
  height: 100%
  background-color: #8cc541 !important
  left: 0
  -webkit-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out

.header-nav__content ul
  padding-left: 0
  margin-bottom: 0

.header-nav__content ul li a
  padding: 0.3rem 0
  padding-top: 0.45rem
  color: #fff
  display: block
  text-decoration: none
  font-family: 'Raleway', sans-serif
  font-size: 18px
  text-align: center
  text-transform: uppercase
  &:hover
    background-color: rgba(17, 132, 240, 0.6)

.header-nav__content ul li
  &:last-child
    a
      background: #eeb900
      color: #000



.main
  background: url('../images/main-bg.png')
  background-size: contain
  background-repeat: repeat
  min-height: 100vh
  .organic-banner
     .owl-nav button.owl-next
        position: absolute
        right: 10px
        top: 44.5%
     .owl-nav button.owl-prev
        position: absolute
        left: 10px
        top: 44.5%
  .advantages
    ul
      max-width: 930px
      margin: 0 auto
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: space-between
      li
        text-align: center
        max-width: 170px
        padding: 0 1rem
        img
          width: 100%
          max-width: 75px
        p
          font-family: 'Tavolga Free'
          font-size: 18px
          padding: 0.5rem 0
          color: #4c4c4c
        span
          font-family: 'Raleway', sans-serif
          font-size: 15px
          font-weight: 400
          color: #4c4c4c

.offers
  margin-top: 2rem
  background: #fff
  padding-bottom: 130px
  .title
    h3
      text-align: center
      font-family: 'Tavolga Free'
      font-size: 28px
      color: #4c4c4c
      padding: 25px 0
  .offers-slide-wrapp
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 990px
    margin: 0 auto
    .offers-slide-item
      display: -webkit-flex
      display: -ms-flex
      display: flex
      max-width: 48%
      width: 100%
      padding: 18px 24px 24px 24px
      box-shadow: 0px 3px 6.51px 0.49px rgba(0, 0, 0, 0.09)
      margin: 1rem 0
      margin-bottom: 1.5rem
      .offers-item-img
        max-width: 200px
        img
          width: 100%
      .offers-item-content
        padding: 1rem 0
        .product-name
          padding-top: 20px
          a
            font-family: 'Raleway', sans-serif
            font-size: 18px
            color: #a3b93c
            text-decoration: underline
          span
            font-family: 'Raleway', sans-serif
            font-size: 18px
            color: #4c4c4c
        .product-about
          padding-top: 20px
          span
            font-size: 18px
            font-family: 'Raleway', sans-serif
            font-weight: 400
            color: #4c4c4c
            line-height: 1.5rem
        .product-mark-price
          padding-top: 25px
          display: -webkit-flex
          display: -ms-flex
          display: flex
          justify-content: space-between
          .stars
            display: -webkit-flex
            display: -ms-flex
            display: flex
            li
              height: 14px
              width: 16px
              background: url('../images/star.png')
              background-size: 100%
              cursor: pointer
              margin: 0 2px
            .active
              background-image: url('../images/active-star.png')
          .price
            span
              font-family: 'Raleway', sans-serif
              font-size: 22px
              color: #4c4c4c
        .product-button
          padding-top: 30px
          display: -webkit-flex
          display: -ms-flex
          display: flex
          justify-content: space-between
          .product-buttons-row
            max-width: 100px
          button
            background: none
            border: none
            cursor: pointer
          .btn-like:hover img,
          .btn-libra:hover img
            transition: .3s ease-in-out
            transform: rotate(360deg)
          .btn-basket
            width: 138px
            height: 38px
            font-size: 12px
            padding-top: 1px
            text-transform: uppercase
            font-family: 'Raleway', sans-serif
            font-weight: 800
            border-radius: 30px
            border: 2px solid #d4d4d4
            color: #b6afa5
            &:hover
              transition: .3s ease-in-out
              border: 2px solid #eeb900
              color: #fff
              background: #eeb900
  .carousel-control-prev
    button
      background: none
      border: none
      height: 60px
      width: 50px
      background: #eeeeee
      padding-top: 3px
      border-radius: 45%
      cursor: pointer
  .carousel-control-next
    button
      background: none
      border: none
      height: 60px
      width: 50px
      background: #eeeeee
      padding-top: 3px
      padding-left: 1px
      border-radius: 45%
      cursor: pointer
      transform: rotate(180deg)
  .carousel-control-prev,
  .carousel-control-next
    button:hover
      background: #a3b93c

  .offer-stocks
    padding-top: 30px
    ul
      display: -webkit-flex
      display: -ms-flex
      display: flex
      max-width: 690px
      margin: 0 auto
      justify-content: space-between
      li
        width: 220px
        background: none
        border-radius: 30px
        text-align: center
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: center
        padding-left: 10px
        font-family: 'Raleway', sans-serif
        font-size: 18px
        padding: 12px 0
        cursor: pointer
        img
          height: 23px
        span
          margin-top: 6px
          margin-left: 8px
          border-bottom: 1px dashed #000
          color: #4c4c4c
        &:first-child
          img
            height: 29px
      .current
        background: #d2451f
        color: #fff
        span
          border-bottom: none
          color: #fff
		.tab-content
			display: none
		.tab-content.current
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      margin: 2rem auto
      .offers-slide-item
        display: -webkit-flex
        display: -ms-flex
        display: flex
        max-width: 32%
        width: 100%
        margin: 1rem 0
        margin-bottom: 1.5rem
        .offers-item-img
          max-width: 200px
          img
            width: 100%
        .offers-item-content
          padding: 1rem 0
          .product-name
            padding-top: 20px
            a
              font-family: 'Raleway', sans-serif
              font-size: 18px
              color: #a3b93c
              text-decoration: underline
            span
              font-family: 'Raleway', sans-serif
              font-size: 18px
              color: #4c4c4c
          .product-about
            padding-top: 20px
            span
              font-size: 18px
              font-family: 'Raleway', sans-serif
              font-weight: 400
              color: #4c4c4c
              line-height: 1.5rem
          .product-mark-price
            padding-top: 25px
            .stars
              display: -webkit-flex
              display: -ms-flex
              display: flex
              max-width: 100px
              margin: 0
              li
                height: 14px
                width: 16px
                background: url('../images/star.png')
                background-size: 100%
                background-repeat: no-repeat
                cursor: pointer
                margin: 0 2px
              .active
                background-image: url('../images/active-star.png')
            .price
              span
                font-family: 'Raleway', sans-serif
                font-size: 22px
                color: #4c4c4c
          .product-button
            padding-top: 15px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            .product-buttons-row
              max-width: 100px
            button
              background: none
              border: none
              cursor: pointer
            .btn-like:hover img,
            .btn-libra:hover img
              transition: .3s ease-in-out
              transform: rotate(360deg)
            .btn-basket
              width: 138px
              height: 38px
              font-size: 12px
              padding-top: 1px
              text-transform: uppercase
              font-family: 'Raleway', sans-serif
              font-weight: 800
              border-radius: 30px
              border: 2px solid #d4d4d4
              color: #6d604c
              &:hover
                transition: .3s ease-in-out
                border: 2px solid #eeb900
                color: #fff
                background: #eeb900
.empty-space
  padding-top: 140px
.question-block
  position: relative
  height: 140px
  .question-absolute
    position: absolute
    height: 300px
    background: url('../images/question-bg.png')
    background-repeat: no-repeat
    width: 100%
    top: -150px
    h3
      text-align: center
      font-family: 'Tavolga Free'
      font-size: 28px
      color: #4c4c4c
      margin-top: 50px
    P
      text-align: center
      margin-top: 15px
      line-height: 1.5rem
      font-family: 'Tavolga Free'
      font-size: 16px
    .question-inputs
      form
        max-width: 814px
        margin: 2.6rem auto
        input
          width: 275px
          height: 44px
          padding-left: 10px
          font-family: 'Raleway', sans-serif
          color: #4c4c4c
          border: 1px solid #eeeeee
          margin: 0 1rem
        button
          width: 160px
          text-align: center
          padding-top: 12px
          padding-bottom: 11px
          text-transform: uppercase
          font-size: 14px
          font-family: 'Raleway', sans-serif
          font-weight: 800
          color: #6d604c
          cursor: pointer
          border-radius: 30px
          border: 2px solid #a3b93c
          background: #fff
          margin: 0 1rem
          &:hover
            transition: .3 ease-in-out
            background: #a3b93c
            color: #fff

.reviews-and-news
  .title
    h3
      text-align: center
      padding-top: 40px
      padding-bottom: 40px
      font-family: 'Tavolga Free'
      font-size: 28px
      color: #4c4c4c
  .full-side
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    .left-side,
    .right-side
      width: 50%
    .left-side
      border-right: 1px solid #eaeaea
      display: -webkit-flex
      display: -ms-flex
      display: flex
      .news-item
        width: 50%
        padding: 0 15px
        text-align: center
        .news-img
          img
            width: 100%
        h4
          font-family: 'Tavolga Free'
          font-size: 18px
          color: #4c4c4c
          text-align: center
          margin-top: 22px
        p
          margin-top: 10px
          text-align: center
          font-family: 'Raleway', sans-serif
          font-weight: 400
          color: #4c4c4c
          font-size: 14px
          line-height: 1.4rem
          margin-bottom: 1rem
        a
          font-family: 'Raleway', sans-serif
          font-size: 14px
          text-transform: uppercase
          color: #4c4c4c
          letter-spacing: 3px
          position: relative
          &::after
            position: absolute
            content: url('../images/next.png')
            right: -20px
            top: 5%
          &:hover
            transition: .4s ease-in-out
            text-decoration: none
            letter-spacing: 4px
            &::after
              transition: .4s ease-in-out
              right: -40px
    .right-side
      padding: 20px 40px
      .reviews-imgs
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        max-width: 430px
        margin: 0 auto
        li
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          img
            width: 110px
            opacity: 0.6
            cursor: pointer
        .active
          img
            width: 140px
            border: 5px solid #a3b93c
            border-radius: 50%
            opacity: 1
      .review-content
        display: none
        text-align: center
        p
          padding-top: 20px
          font-family: 'Raleway', sans-serif
          font-weight: 400
          font-size: 14px
          color: #4c4c4c
          text-align: center
          line-height: 1.5rem
          margin-bottom: 30px
        span
          font-family: 'Tavolga Free'
          font-style: 16px
          color: #a3b93c
      .active
        display: block

.white-bg-wrapp
  background: #fff
  .subscription-block
    position: relative
    height: 152px
    .subscription-absolute
      position: absolute
      height: 300px
      background-repeat: repeat
      background-repeat: no-repeat
      background-image: url('../images/green-border.png')
      background-size: cover
      width: 100%
      top: -150px
      padding: 25px
      .subscription-content
        padding: 0 15px
        background: #fff
        height: 100%
        text-align: center
        h3
          font-size: 30px
          color: #4c4c4c
          font-family: 'Tavolga Free'
          text-align: center
          padding-top: 30px
          margin-bottom: 10px
        span
          color: #4c4c4c
          font-family: 'Raleway', sans-serif
          font-size: 18px
        .subscription-wrapp
          display: -webkit-flex
          display: -ms-flex
          display: flex
          margin-top: 1rem
          .sub-social
            border-right: 1px solid #eeeeee
            padding-right: 10px
            padding-top: 10px
            h4
              font-family: 'Tavolga Free'
              font-size: 24px
              color: #a3b93c
            .social-networks
              display: -webkit-flex
              display: -ms-flex
              display: flex
              justify-content: space-between
              margin: 1rem auto
              li
                width: 45px
                height: 45px
                border-radius: 50%
                text-align: center
                background: #f6f6f6
                margin: 0 10px
                &:nth-child(1)
                  padding-top: 13px
                &:nth-child(2)
                  padding-top: 17px
                  padding-right: 1px
                &:nth-child(3)
                  padding-top: 14px
                &:nth-child(4)
                  padding-top: 12px
                &:nth-child(5)
                  padding-top: 12px
          .sub-row
            width: 100%
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: column
            justify-content: center
            .sub-button-input
              margin-left: 3rem
              display: -webkit-flex
              display: -ms-flex
              display: flex
              width: 100%
              input
                width: 100%
                max-width: 400px
                background: none
                border: 1px solid #eeeeee
                height: 44px
                padding-left: 15px
                font-family: 'Raleway', sans-serif
                font-weight: 400
                color: #4c4c4c
                font-size: 16px
              button
                border-radius: 30px
                border: 2px solid #d2451f
                background: #d2451f
                color: #fff
                padding: 0 20px
                font-size: 14px
                padding-top: 1px
                font-family: 'Raleway', sans-serif
                font-weight: 800
                cursor: pointer
                margin-left: 30px
                &:hover
                  transition: .4s ease-in-out
                  background: #fff
                  color: #d2451f

/* CATALOG STYLES */
.white-bg-wrapp
  padding-top: 9.4rem

.bread-crumbs
  display: -webkit-flex
  display: -ms-flex
  display: flex
  padding: 1.5rem 0
  li
    margin: 0 1.5rem
    position: relative
    &::after
      content: '/'
      color: #4c4c4c
      position: absolute
      right: -28px
      top: 2px
    &:first-child
      margin-left: 0
    a
      color: #4c4c4c
      font-family: 'Raleway', sans-serif
      font-size: 15px

.organic-catalog
  background-color: #fff
  padding: 1.5rem
  .catalog-section
    .title
      h3
        font-family: 'Tavolga Free'
        color: #4c4c4c
        font-size: 28px
        margin-bottom: 1.5rem
      p
        font-family: 'Raleway', sans-serif
        color: #4c4c4c
        font-size: 14px
        line-height: 1.5rem
        margin-bottom: 1.5rem

.catalog-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  .catalog_left-side
    max-width: 300px
    width: 100%
    .panel
      background: none
      margin: 0 auto
      .sections
        .tab_heading
          background: #a3b93c
      .brands
        .tab_heading
          background: #d2451f
      .prices
        .tab_heading
          background: #a2b604
        .tab_content
          margin-top: 2rem
          padding: 1rem 1.5rem
          .prices-display
            margin-top: 2.5rem
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            h4
              color: #000
              width: 48%
              padding: 0.5rem 0
              padding-left: 10px
              border: 1px solid #d4d4d4
              font-family: 'Roboto', sans-serif
              font-weight: 400
              position: relative
              font-size: 18px
              background: #fff
              span
                position: absolute
                left: 0
                font-size: 12px
                top: -20px
        .prices-buttons
          padding-top: 1rem
          display: -webkit-flex
          display: -ms-flex
          display: flex
          justify-content: space-between
          button
            &:first-child
              background: none
              padding: 10px 35px
              border-bottom: 8px
              border-radius: 30px
              border: 2px solid #d4d4d4
              color: #6d604c
              text-transform: uppercase
              font-size: 12px
              font-family: 'Raleway', sans-serif
              font-weight: 800
              cursor: pointer
              &:hover
                border: 2px solid #eeb900
                background: #eeb900
                color: #fff
            &:last-child
              background: none
              border: none
              cursor: pointer
              color: #d2451f
              font-size: 14px
              font-weight: 400
              font-family: 'Raleway', sans-serif
              border-bottom: 1px dashed #d2451f
              height: 100%
              padding: 10px 0 5px 0
              &:hover
                color: #eeb900
                border-bottom: 1px dashed #eeb900

    .panel_tab
      background: #f9f9f9
      box-shadow: 0 0 15px rgba(0,0,0,0.1)

    .tab_panel
      margin-bottom: 1.5rem

    .tab_heading
      padding: 15px
      cursor: pointer
      position: relative

    .tab_heading h3
      font-size: 1.5rem

    .tab_heading span
      font-size: 1.1rem
      font-weight: 800
      color: #fff
      float: right
      .material-icons
        position: absolute
        right: 5px
        top: 12px

    .tab_content
      background: #f6f6f6
      padding: 30px 15px
      ul
        li
          font-family: 'Raleway', sans-serif
          color: #4c4c4c
          font-size: 15px
          margin-bottom: 1rem
          cursor: pointer
          &:last-child
            margin-bottom: 0
          &:hover
            font-weight: 700
            color: #a3b93c
          ul
            padding-top: 1rem
            padding-left: 1.5rem
            li
              font-weight: 400
              font-size: 14px
              a
                color: #4c4c4c
                &:hover
                  text-decoration: none
      .checkbox-list
        li
          display: -webkit-flex
          display: -ms-flex
          display: flex
          &:hover
            font-weight: 400
            color: #4c4c4c
          p
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: column
            justify-content: center
            padding-left: 1rem
    h4
      color: #fff
      font-family: 'Raleway', sans-serif
      font-weight: 700
      font-size: 15px
      display: inline

    @media only screen and (max-width:480px)
      :root
        font-size: 14px


.catalog_right-side
  padding-left: 1.5rem
  max-width: 900px
  width: 100%
  .catalog-filter
    display: -webkit-flex
    display: -ms-flex
    display: flex
    padding: 1rem
    border-left: 4px solid #e6e6e6
    width: 100%
    p
      color: #4c4c4c
      font-weight: 700
      font-size: 16px
      font-family: 'Raleway', sans-serif
    .filter-wrap
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-wrap: wrap
      padding-left: 1rem
      justify-content: space-between
      li
        font-family: 'Raleway', sans-serif
        font-weight: 400
        color: #4c4c4c
        cursor: pointer
        padding: 0 1.2rem
        position: relative
        &::after
          position: absolute
          content: url('../images/filter-arrow.png')
          top: -2px
          right: 0
        &::selection
          background: none
      .active
        color: #a3b93c
        &::after
          position: absolute
          content: url('../images/filter-arrow.png')
          top: 4px
          right: 0
          transform: rotate(180deg)
  .catalog-products-wrapper
    padding-top: 1.5rem
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .catalog-product-item
      margin-bottom: 1.5rem
      max-width: 200px
      text-align: center
      .catalog-img
        box-shadow: 0px 3px 6.51px 0.49px rgba(0, 0, 0, 0.09)
        padding: 1rem
        max-width: 200px
        position: relative
        img
          width: 100%
        .catalog-stock
          position: absolute
          width: 35px
          height: 35px
          background: url('../images/stock-bg.png')
          background-size: contain
          background-repeat: no-repeat
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          color: #fff
          font-family: 'Raleway', sans-serif
          font-size: 12px
          font-weight: 500
          padding-bottom: 4px
          text-align: center
          top: 10px
          right: 10px
      h4
        text-align: center
        font-family: 'Raleway', sans-serif
        color: #4c4c4c
        margin-top: 1rem
        a
          color: #a3b93c
      p
        font-family: 'Raleway', sans-serif
        color: #4c4c4c
        font-size: 14px
        line-height: 1.5rem
        margin: 0.5rem 0
      .price
        font-family: 'Raleway', sans-serif
        font-weight: 700
        font-size: 18px
        color: #4c4c4c
        span
          font-size: 14px
          color: #999999
          font-weight: 500
          position: relative
          &::before
            content: ''
            display: block
            height: 1px
            background: #999999
            width: 58px
            position: absolute
            right: 0
            top: 10px
      .stars
        display: -webkit-flex
        display: -ms-flex
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        max-width: 100px
        margin: 0.5rem auto
        li
          height: 14px
          width: 16px
          background: url("../images/star.png")
          background-repeat: repeat
          background-image: url("../images/star.png")
          background-size: auto
          -webkit-background-size: 100% 100%
          background-size: 100%
          background-repeat: no-repeat
          cursor: pointer
          margin: 0 2px
        .active
          background-image: url("../images/active-star.png")
      button
        max-width: 140px
        width: 100%
        padding: 12px 0
        background: none
        border: 2px solid #d4d4d4
        font-size: 12px
        font-family: 'Raleway', sans-serif
        font-weight: 800
        text-transform: uppercase
        color: #b6afa5
        border-radius: 30px
        cursor: pointer
        margin: 0.5rem 0
        &:hover
          transition: .3s ease-in-out
          border: 2px solid #eeb900
          background: #eeb900
          color: #fff
  .show-all-products
    a
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      justify-content: center
      max-width: 220px
      width: 100%
      background: #a2b604
      border: 2px solid #a2b604
      text-align: center
      padding: 13px 0
      padding-top: 14px
      color: #fff
      border-radius: 30px
      font-family: 'Raleway', sans-serif
      font-weight: 800
      font-size: 16px
      text-decoration: none
      margin: 0 auto
      &:hover
        transition: .3s ease-in-out
        background: none
        color: #a2b604

.catalogs-slider
  background: #fff
  position: relative
  h3
    font-size: 28px
    color: #4c4c4c
    font-family: 'Tavolga Free'
    margin-bottom: 2rem
  .catalog-product-item
    margin-bottom: 1.5rem
    text-align: center
    .catalog-img
      box-shadow: 0px 3px 6.51px 0.49px rgba(0, 0, 0, 0.09)
      padding: 1rem
      position: relative
      img
        width: 100%
      .catalog-stock
        position: absolute
        width: 35px
        height: 35px
        background: url('../images/stock-bg.png')
        background-size: contain
        background-repeat: no-repeat
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-direction: column
        justify-content: center
        color: #fff
        font-family: 'Raleway', sans-serif
        font-size: 12px
        font-weight: 500
        padding-bottom: 4px
        text-align: center
        top: 10px
        right: 10px
    h4
      text-align: center
      font-family: 'Raleway', sans-serif
      color: #4c4c4c
      margin-top: 1rem
      a
        color: #a3b93c
    p
      font-family: 'Raleway', sans-serif
      color: #4c4c4c
      font-size: 14px
      line-height: 1.5rem
      margin: 0.5rem 0
    .price
      font-family: 'Raleway', sans-serif
      font-weight: 700
      font-size: 18px
      color: #4c4c4c
      span
        font-size: 14px
        color: #999999
        font-weight: 500
        position: relative
        &::before
          content: ''
          display: block
          height: 1px
          background: #999999
          width: 58px
          position: absolute
          right: 0
          top: 10px
    .stars
      display: -webkit-flex
      display: -ms-flex
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      max-width: 100px
      margin: 0.5rem auto
      li
        height: 14px
        width: 16px
        background: url("../images/star.png")
        background-repeat: repeat
        background-image: url("../images/star.png")
        background-size: auto
        -webkit-background-size: 100% 100%
        background-size: 100%
        background-repeat: no-repeat
        cursor: pointer
        margin: 0 2px
      .active
        background-image: url("../images/active-star.png")
    button
      max-width: 140px
      width: 100%
      padding: 12px 0
      background: none
      border: 2px solid #d4d4d4
      font-size: 12px
      font-family: 'Raleway', sans-serif
      font-weight: 800
      text-transform: uppercase
      color: #b6afa5
      border-radius: 30px
      cursor: pointer
      margin: 0.5rem 0
      &:hover
        transition: .3s ease-in-out
        border: 2px solid #eeb900
        background: #eeb900
        color: #fff
  .owl-carousel .owl-nav button.owl-prev
    position: absolute
    left: -50px
    top: 40%
  .owl-carousel .owl-nav button.owl-next
    position: absolute
    right: -50px
    top: 40%
/* END CATALOG STYLES */


/* PERSONAL CABINET STYLES */
.personal-cabinet
  background: #fff
  .personal-row
    display: -webkit-flex
    display: -ms-flex
    display: flex
    padding: 1rem 0
    padding-top: 1.5rem
    .profile-left-side
      min-width: 388px
      height: 300px
      background: url('../images/profile-bg.png')
      background-size: contain
      background-position: center
      background-repeat: no-repeat
      padding: 2.5rem 3rem
      position: relative
      .logout
        display: block
        position: absolute
        right: 35px
        top: 30px
        width: 40px
        height: 40px
        border-radius: 50%
        background: #f5f5f5
        padding: 11px 13px
      .mail-text-field
        padding-top: 0.5rem
        padding-bottom: 1rem
        input
          width: 100%
          text-align: center
          padding: 12px 0
          font-family: 'Raleway', sans-serif
          font-weight: 400
          color: #4c4c4c
          font-size: 14px
          border: 1px solid #eeeeee
      .btn-personal-datas
        width: 182px
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        height: 43px
        font-size: 12px
        border: 1px solid #a3b93c
        border-radius: 30px
        background: #a3b93c
        cursor: pointer
        color: #fff
        text-transform: uppercase
        font-family: 'Raleway', sans-serif
        font-weight: 800
        margin: 0 auto
        &:hover
          transition: .3s ease-in-out
          background: none
          color: #a3b93c
      .profile-left-side__photo-and-name
        display: -webkit-flex
        display: -ms-flex
        display: flex
        .profile-left-side__name
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          text-align: center
          padding-left: 1rem
          h3
            font-family: 'Tavolga Free'
            font-size: 18px
            color: #4c4c4c
          P
            font-family: 'Raleway', sans-serif
            color: #4c4c4c
            font-size: 14px
            margin-top: 1rem
    .profile-right-side
      padding-top: 1rem
      padding-left: 1rem
      h3
        font-family: 'Tavolga Free'
        color: #4c4c4c
        font-size: 24px
        padding-left: 1.5rem
      .profile-menu-wrap
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-wrap: wrap
        max-width: 500px
        padding-top: 10px
        .profile-menu-item
          background-image: url('../images/profile-menu-bg.png')
          background-position: center
          background-repeat: no-repeat
          background-size: contain
          display: block
          width: 164px
          height: 122px
          text-align: center
          padding-top: 1.2rem
          .menu-img
            display: block
            height: 55px
            img
              width: 25%
          p
            font-family: 'Tavolga Free'
            font-size: 14px
            color: #4c4c4c
            padding: 0 1rem
          &:hover
            text-decoration: none
            .menu-img
              img
                transition: .3s ease-in-out
                transform: scale(1.1)
/* END PERSONAL CABINET STYLES */


/* PRODUCT CARD STYLES */
.product-card
  background: #fff
  padding: 2rem 0
  .product-card-title
    h3
      font-family: 'Tavolga Free'
      font-size: 28px
      color: #4c4c4c
      display: inline-block
      position: relative
      &::after
        content: url('../images/tab_new.png')
        position: absolute
        right: -4rem
        top: -15px

.product-card-wrapper
  display: -webkit-flex
  display: -ms-flex
  display: flex
  padding-top: 1.5rem
  .product-card-images
    display: -webkit-flex
    display: -ms-flex
    display: flex
    max-width: 440px
    width: 100%
    .product-card__mini-items
      a
        display: block
        height: 82px
    .product-card__big-img
      img
        height: 329px

.product-card-info
  padding-left: 60px
  .product-card__brand
    display: -webkit-flex
    display: -ms-flex
    display: flex
    p
      font-family: 'Raleway', sans-serif
      font-weight: 400
      color: #4c4c4c
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      justify-content: center
    a
      font-family: 'Raleway', sans-serif
      font-weight: 700
      color: #a3b93c
      text-decoration: underline
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      justify-content: center
    .country-img
      padding-left: 10px
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-direction: column
      justify-content: center
/* END PRODUCT CARD STYLES */


/* PURCHASE HISTORY STYLES */
.purchase-history
  padding: 2rem 0
  background: #fff
  .title
    h3
      font-size: 28px
      color: #4c4c4c
      font-family: 'Tavolga Free'
  .purchase-history__table
    padding-top: 2rem
    ul
      width: 750px
      li
        display: -webkit-flex
        display: -ms-flex
        display: flex
        border-bottom: 1px solid #a3b93c
        position: relative
        &:first-child
          span
            background: #a3b93c
            color: #fff
            border-right: 1px solid #fff
        span
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          padding: 1rem 0
          font-size: 14px
          font-family: 'Raleway', sans-serif
          font-weight: 400
          line-height: 1.2rem
          border-left: 1px solid #a3b93c
          &:nth-child(1)
            width: 12%
            text-align: center
            font-weight: 600
          &:nth-child(2)
            width: 30%
            padding-left: 10px
            padding-right: 10px
          &:nth-child(3)
            width: 14%
            text-align: center
          &:nth-child(4)
            width: 17%
            text-align: center
          &:nth-child(5)
            width: 16%
            text-align: center
          &:nth-child(6)
            width: 16%
            text-align: center
            border-right: 1px solid #a3b93c
        button
          position: absolute
          border: none
          background: none
          cursor: pointer
          right: -45px
          top: 10px
          &:hover
            transition: .3s ease-in-out
            transform: scale(1.1)
  .prev-btn
    margin-top: 1.5rem
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    width: 100px
    height: 30px
    font-size: 11px
    color: #4c4c4c
    font-family: 'Raleway', sans-serif
    font-weight: 800
    border-radius: 30px
    text-align: center
    border: 2px solid #a3b93c
    &:hover
      transition: .2s ease-in-out
      background: #a3b93c
      color: #fff
      text-decoration: none
/* END PURCHASE HISTORY STYLES */


/* ACCOUNT STYLES */
.account-block
  padding: 2rem 0
  background: #fff
  .title
    h3
      font-size: 28px
      color: #4c4c4c
      font-family: 'Tavolga Free'
  .account-form
    max-width: 670px
    padding-top: 1.5rem
    form
      input
        width: 100%
        border: 1px solid #a3b93c
        border-radius: 30px
        padding: 15px 20px
        font-family: 'Raleway', sans-serif
        font-weight: 300
        margin-bottom: 1.5rem
      .account-form__buttons
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        max-width: 250px
        width: 100%
        a
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          height: 34px
          border: 2px solid #a3b93c
          background: none
          width: 115px
          text-align: center
          font-size: 11px
          font-family: 'Raleway', sans-serif
          font-weight: 800
          cursor: pointer
          color: #6d604c
          text-decoration: none
          border-radius: 30px
          &:hover
            transition: .3s ease-in-out
            background: #a3b93c
            color: #fff
        button
          font-size: 11px
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          height: 34px
          border: 2px solid #a3b93c
          background: #a3b93c
          width: 115px
          text-align: center
          font-family: 'Raleway', sans-serif
          font-weight: 800
          cursor: pointer
          border-radius: 30px
          color: #fff
          &:hover
            transition: .3s ease-in-out
            background: #fff
            color: #6d604c

/* END ACCOUNT STYLES */


/* BONUS POINTS */
.bonus-points
  padding: 2rem 0
  background: #fff
  .title
    h3
      font-size: 28px
      color: #4c4c4c
      font-family: 'Tavolga Free'
    p
      margin-top: 2rem
      font-size: 16px
      font-family: 'Raleway', sans-serif
      font-weight: 400
      color: #4c4c4c
      span
        font-weight: 700
  .bonus-points__table
    ul
      width: 530px
      margin-top: 1.5rem
      li
        display: -webkit-flex
        display: -ms-flex
        display: flex
        border-bottom: 1px solid #a3b93c
        &:first-child
          span
            background: #a3b93c
            border-right: 1px solid #fff
            color: #fff
            font-weight: 600
            &:last-child
              border-right: 1px solid #a3b93c
        span
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-direction: column
          justify-content: center
          font-size: 14px
          font-family: 'Raleway', sans-serif
          padding: 1rem 10px
          line-height: 1.2rem
          border-right: 1px solid #a3b93c
          &:nth-child(1)
            width: 25%
            text-align: center
            border-left: 1px solid #a3b93c
          &:nth-child(2)
            width: 50%
          &:nth-child(3)
            width: 25%
            text-align: center
  .prev-btn
    margin-top: 1.5rem
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    width: 100px
    height: 30px
    font-size: 11px
    color: #4c4c4c
    font-family: 'Raleway', sans-serif
    font-weight: 800
    border-radius: 30px
    text-align: center
    border: 2px solid #a3b93c
    &:hover
      transition: .2s ease-in-out
      background: #a3b93c
      color: #fff
      text-decoration: none
/* END BONUS POINTS */


.footer
  background-image: url('../images/footer-bg.png')
  height: 500px
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  .footer-row
    padding-top: 50px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    max-width: 992px
    .logo
      p
        font-family: 'Raleway', sans-serif
        padding-top: 10px
        color: #6d604c
        line-height: 1.5rem
        font-size: 12px
    .footer-menu
      padding: 0 40px
      border-right: 1px solid #eeeeee
      li
        margin-bottom: 10px
        p
          padding-bottom: 10px
          font-family: 'Raleway', sans-serif
          font-weight: 800
          color: #4c4c4c
          text-transform: uppercase
          font-size: 18px
        a
          font-weight: 400
          color: #4c4c4c
          text-transform: none
          font-family: 'Raleway', sans-serif
          font-size: 16px
    .contacts
      p
        font-family: 'Raleway', sans-serif
        font-weight: 800
        color: #4c4c4c
        text-transform: uppercase
        font-size: 18px
      ul
        padding-top: 20px
        li
          margin-bottom: 20px
          a
            font-size: 22px
            color: #a3b93c
            margin-left: 0.5rem
            font-family: 'Roboto', sans-serif
            font-weight: 700
      h4
        font-family: 'Tavolga Free'
        font-size: 18px
        color: #4c4c4c
      .social-networks
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        padding-top: 10px
        li
          width: 45px
          height: 45px
          border-radius: 50%
          text-align: center
          background: #f6f6f6
          margin: 0
          transform: scale(0.8)
          padding: 12px 0
          padding-right: 8px

.round
  position: relative
  height: 28px
  width: 28px

.round label
  background-color: #fff
  border: 1px solid #ccc
  border-radius: 50%
  cursor: pointer
  height: 28px
  left: 0
  position: absolute
  top: 0
  width: 28px

.round label:after
  border: 2px solid #fff
  border-top: none
  border-right: none
  content: ""
  height: 6px
  left: 7px
  opacity: 0
  position: absolute
  top: 8px
  transform: rotate(-45deg)
  width: 12px

.round input[type="checkbox"]
  visibility: hidden

.round input[type="checkbox"]:checked + label
  background-color: #66bb6a
  border-color: #66bb6a

.round input[type="checkbox"]:checked + label:after
  opacity: 1


/* RESPONSIVE */
@media (max-width: 1292px)
  .catalogs-slider .owl-carousel .owl-nav button.owl-prev
    left: 0
  .catalogs-slider .owl-carousel .owl-nav button.owl-next
    right: 0
@media (max-width: 1200px)
  .container
    padding: 0 15px
  .bread-crumbs
    padding: 1.5rem 15px
  .question-block .question-absolute
    padding: 3rem 2rem
    position: static
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: auto
  .question-block .question-absolute h3
    margin-top: 0
  .offers
    padding-bottom: 0
  .question-block
    height: auto
  .white-bg-wrapp .subscription-block .subscription-absolute
    padding: 2rem 2rem
    position: static
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: auto
  .white-bg-wrapp .subscription-block
    height: auto
  .reviews-and-news .full-side
    padding-bottom: 0
@media (max-width: 1080px)
  .search-form
    display: none
  .offers .tab-content.current .offers-slide-item
    max-width: 48%
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp
    flex-direction: column
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-social .social-networks
    max-width: 325px
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-row .sub-button-input
    margin-left: 0
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-row
    max-width: 480px
    margin: 1rem auto
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-social
    border-right: none
    border-bottom: 1px solid #eeeeee
  .catalog_right-side .catalog-filter p
    padding: 0.5rem 0
  .catalog_right-side .catalog-filter .filter-wrap li
    padding: 0.5rem 1.2rem
  .catalog_right-side .catalog-filter .filter-wrap li::after
    top: 7px
  .catalog_right-side .catalog-filter .filter-wrap .active::after
    top: 12px
@media (max-width: 1000px)
  .main .organic-banner .owl-nav button.owl-prev,
  .main .organic-banner .owl-nav button.owl-next
    top: 43.5%

@media (max-width: 980px)
  .header-bottom .header-bottom-rowws .header-bottom-row2,
  .header-bottom .logo
    display: none
  .header-bottom .header-bottom-rowws
    padding-left: 0
  .question-block .question-absolute .question-inputs form
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  .question-block .question-absolute .question-inputs form input
    width: 216px
  .footer .footer-row
    flex-direction: column
    align-items: center
    text-align: center
  .footer .footer-row .footer-menu
    margin-top: 1rem
    border: none
  .footer
    height: 1000px
    background-position: right
@media (max-width: 960px)
  .header-top .header-top-row1 .header-tel-num, .header-top .header-top-row1 .header-wp
    display: none
  .header-top .header-top-row1 .btn-call-us
    margin-right: 2.5rem
  .purchase-history .purchase-history__table
    overflow-x: scroll

@media (max-width: 800px)
  .main .organic-banner .owl-nav button.owl-prev,
  .main .organic-banner .owl-nav button.owl-next
    top: 41.5%
  .question-block .question-absolute .question-inputs form
    flex-direction: column
    margin-bottom: 0
  .question-block .question-absolute .question-inputs form input
    width: 100%
    margin: 0.5rem 0
  .question-block .question-absolute .question-inputs form button
    margin: 1rem auto
  .reviews-and-news .full-side
    flex-direction: column
  .reviews-and-news .full-side .left-side
    width: auto
    border-right: none
    border-bottom: 1px solid #eaeaea
    padding-bottom: 1.5rem
  .reviews-and-news .full-side .right-side
    width: auto
@media (max-width: 730px)
  .main .advantages ul li
    padding: 1rem
  .catalog_right-side .catalog-filter
    flex-direction: column
  .catalog_right-side .catalog-filter .filter-wrap
    padding-left: 0
    flex-direction: column
  .catalog_right-side .catalog-filter .filter-wrap li
    padding: 0.5rem 0

@media (max-width: 700px)
  .main .advantages ul li img
    max-width: 55px
  .main .advantages ul li p
    font-size: 15px
  .main .advantages ul li span
    font-size: 12px

@media (max-width: 650px)
  .header-bottom .header-bottom-rowws .header-bottom-row1 .nav-menu
    display: none
  .header-menu-toggle
    display: block
  .main .organic-banner .owl-nav button.owl-prev
    left: -5px
    top: 40%
  .main .organic-banner .owl-nav button.owl-next
    right: -5px
    top: 40%
  .catalog-wrapper
    flex-direction: column
  .catalog_right-side
    padding-left: 0
  .catalog_right-side .catalog-products-wrapper .catalog-product-item .catalog-img
    max-width: none
  .personal-cabinet .personal-row
    flex-direction: column
  .personal-cabinet .personal-row .profile-left-side
    min-width: 0
    max-width: 388px
    width: 100%

@media (max-width: 600px)
  .main .advantages ul li p
    font-size: 13px
  .main .advantages ul li span
    font-size: 9px

@media (max-width: 550px)
  .header-top .header-top-row1 .header-calendar
    display: none
  .reviews-and-news .full-side .left-side
    flex-direction: column
  .reviews-and-news .full-side .left-side .news-item
    width: auto
    margin-bottom: 1rem
  .reviews-and-news .full-side .right-side .reviews-imgs li img
    width: 70px
  .reviews-and-news .full-side .right-side .reviews-imgs .active img
    width: 90px
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-row .sub-button-input
    flex-direction: column
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-row .sub-button-input button
    margin-left: 0
    height: 40px
    max-width: 200px
    margin: 0 auto
    margin-top: 1rem
  .bonus-points .bonus-points__table
    overflow-x: scroll
@media (max-width: 480px)
  .offers .offer-stocks ul
    flex-direction: column
    align-items: center
  .offers .offer-stocks ul li
    margin: 5px 0
  .offers .offer-stocks ul li img
    display: none
  .offers .offer-stocks ul li span
    margin-top: 0
  .offers .offers-slide-wrapp .offers-slide-item
    flex-direction: column
    align-items: center
  .offers .tab-content.current .offers-slide-item
    flex-direction: column
    align-items: center
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-button
    justify-content: flex-end
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-mark-price
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    align-items: flex-end
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-mark-price .stars
    flex-direction: row
  .white-bg-wrapp .subscription-block .subscription-absolute .subscription-content .subscription-wrapp .sub-social
    display: none
  .main .advantages ul li
    padding: 0
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-name a,
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-name span,
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-about span
    font-size: 14px
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-mark-price
    flex-direction: column
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-about,
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-name
    text-align: center
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-mark-price .stars
    justify-content: center
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-mark-price .price
    text-align: center
    margin-top: 10px
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-button
    flex-direction: column
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-button .product-buttons-row
    margin: 0 auto
  .offers .offers-slide-wrapp .offers-slide-item .offers-item-content .product-button .btn-basket
    margin: 0 auto
    margin-top: 1rem
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-name,
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-about
    text-align: center
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-name a,
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-name span,
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-about span
    font-size: 14px
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-about
    padding-top: 10px
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-mark-price
    align-items: center
  .offers .tab-content.current .offers-slide-item .offers-item-content .product-button
    justify-content: center
  .catalog_right-side .catalog-products-wrapper .catalog-product-item
    max-width: 175px

@media (max-width: 440px)
  .catalog_right-side .catalog-products-wrapper .catalog-product-item
    max-width: 135px
  .catalog_right-side .catalog-products-wrapper .catalog-product-item h4
    font-size: 14px

@media (max-width: 380px)
  .personal-cabinet .personal-row .profile-left-side
    height: auto
    background-size: cover
  .profile-left-side__photo-and-name
    flex-direction: column
    align-items: center
  .personal-cabinet .personal-row .profile-left-side .profile-left-side__photo-and-name .profile-left-side__name
    padding-left: 0
    margin: 1rem 0

@media (max-width: 360px)
  .reviews-and-news .full-side .right-side .reviews-imgs li img
    width: 50px
  .reviews-and-news .full-side .right-side .reviews-imgs .active img
    width: 70px
  .personal-cabinet .personal-row .profile-right-side .profile-menu-wrap
    align-items: center
    justify-content: center
  .main .advantages ul li img
    max-width: 40px
  .main .advantages ul li p
    font-size: 11px
  .catalog_right-side .catalog-products-wrapper .catalog-product-item
    max-width: 110px
@media (max-width: 330px)
  .header-top .header-top-row1
    display: none
  .header-top .header-top-row2
    margin-left: 1.5rem
/* END RESPONSIVE */
