.app-container .content-container .container-fluid{
	background-color:#95f18fb8;
	color: black
}

.app-container .content-container .container-fluid .side-body .panel, .table, .table td, .voyager .table>thead>tr>th, .app-container, .app-footer, .panel-footer{
	background: none;
	background-color:#95f18fb8 !important;
	color: black !important;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing, .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover, .panel-title, .page-title {
	color: black !important;
}