body,
html {
  margin: 0;
  padding: 0;
}
.company .company__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.company .company__head .company__title {
  font-size: 36px;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 2px solid #C0C809;
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}
.company .company__head img {
  width: 80%;
  height: 20rem;
  margin-top: 20px;
}
.company .company__body p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 25px;
  margin-top: 40px;
  border-left: 3px dashed #C0C809;
  padding-left: 15px;
}
.contact .contact__right .contact__right-title {
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 2px solid #C0C809;
  text-align: center;
  margin: 0 auto;
}
.contact .contact__right .contact__right-body .contact__num {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contact .contact__right .contact__right-body .contact__num .contact__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
.contact .contact__right .contact__right-body .contact__num li {
  margin-top: 10px;
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 20px;
}
.contact .contact__right .contact__right-body .contact__num .num {
  margin-left: 15px;
}
.contact .contact__right .contact__right-body .email {
  margin-top: 30px;
}
.contact .contact__right .contact__right-body .email .email__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
.contact .contact__right .contact__right-body .email li {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.contact .contact__right .contact__right-body .email .num:hover {
  font-size: 18px;
  color: #E6182C;
}
.contact .contact__right .contact__right-body .location {
  margin-top: 30px;
}
.contact .contact__right .contact__right-body .location .location__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
.contact .contact__right .contact__right-body .location li {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.contact .contact__right .contact__right-body .location li .gmap3 {
  width: 500px;
  height: 300px;
  border: 1px dashed #C0C0C0;
}
.contact .contact__right .contact__right-body .social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contact .contact__right .contact__right-body .social .social__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
.contact .contact__right .contact__right-body .social li {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.contact .contact__right .contact__right-body .social li a {
  margin-left: 20px;
  display: block;
  font-size: 20px;
}
.contact .contact__left-title {
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 2px solid #C0C809;
  text-align: center;
  margin: 0 auto;
}
.contact .contact__left-body p {
  margin-top: 15px !important;
  padding: 10px;
}
.contact .contact__left-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.contact .contact__left-body form input {
  color: #808080;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f6f7f9;
  padding: 13px 10px;
  border-radius: 2px;
  margin-top: 10px;
}
.contact .contact__left-body form textarea {
  color: #808080;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f6f7f9;
  padding: 13px 10px;
  border-radius: 2px;
  margin-top: 10px;
}
.contact .contact__left-body form a {
  display: block;
  margin-top: 15px;
  color: #C0C809;
  border: 1px solid #C0C809;
}
.contact .contact__left-body form a:hover {
  background-color: #C0C809;
  color: #fff;
}
.review .all-review__box li {
  list-style-type: none;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 10px #C0C809;
  box-shadow: 0 0 10px #C0C809;
  margin-top: 15px;
}
.review .all-review__box li .main-box__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.review .all-review__box li .main-box__review img {
  border: 1px solid #C0C809;
  width: 7rem;
  height: 7rem;
  margin: 5px 20px 0 10px;
  border-radius: 50%;
}
.review .all-review__box li .main-box__review .review__info {
  width: 70%;
}
.review .all-review__box li .main-box__review .review__info .name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.review .all-review__box li .main-box__review .review__info .reviews__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.review .pagination {
  position: absolute;
  right: 1rem;
}
.review .pagination .page-item a {
  display: block;
  border: 1px solid #C0C809;
  color: #C0C809;
  font-weight: 700;
}
.review .pagination .page-item a:hover {
  color: #fff;
  background-color: #C0C809;
}
@media only screen and (max-width: 576px) {
  .review .all-review__box {
    padding: 0;
  }
  .review .all-review__box li .main-box__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .review .all-review__box li .main-box__review .review__info .name {
    text-align: center;
    margin-top: 10px;
  }
  .review .all-review__box li .main-box__review .review__info .reviews__text {
    text-align: center;
  }
  .review .all-review__box li .main-box__review .review__info .date {
    float: right;
  }
}
