@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: 'Tavolga Free';
  src: url("../fonts/tavolga-free.ttf"); }
/* 
starts
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button, textarea {
  outline: none !important; }


.header ul{
  display: flex;
  margin-top: 20px;
  position: relative;
}
.header ul li .sale{
  display: block;
  background-color: red;
  font-family: 'raleway black', sans-serif;
  color: #fff;
  padding: 15px 20px;
  border-radius:25px;
}
.header ul li .sale:hover{
  display: block;
  border:1px solid red;
  background-color: #fff;
  color: red;
}
.header ul li{
  margin: 0 auto;
}
.header ul li a{
  display: block;
  color: #6d604c;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'raleway black', sans-serif;
}
.header ul li a:hover{
  text-decoration: none;
}
.header .dropdown_menu{
  display: flex;
  flex-direction: column;
  border:1px solid #000;
}
.header .dropdown_menu li a{
  display: block;
  padding: 10px 0 10px 0;
}
.header .dropdown_menu li a:hover{
  text-decoration: underline;
}


/* comprasion */

.comprasion h3{
  font-family: 'raleway black', sans-serif;
  font-size: 25px;
}
.comprasion p{
  font-family: 'raleway black', sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.comprasion .comprasion__box{
  margin-top: 20px;
  padding: 20px;
}
.comprasion .comprasion__box .comprasion__head ul li {
  font-family: 'raleway black', sans-serif
}
.comprasion .comprasion__box .comprasion__head img{
  margin: 30px 40%;
}
.comprasion .comprasion__box .comprasion__body ul li{
  font-family: 'raleway black', sans-serif;
  margin-top: 15px;
  border-bottom: 1px dashed #000; 
  position: relative;
}
.comprasion .comprasion__box .comprasion__body  ul li span{
  position: absolute;
  right: 0;
}
.comprasion .comprasion__box .comprasion__footer ul{
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.comprasion .comprasion__box .comprasion__footer ul li .in-basket{
  display: block;
  border:1px solid #6d604c;
  color: #6d604c;
  background-color: #fff;
  padding: 10px 40px;
  border-radius: 25px;
  font-family: 'raleway black', sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.comprasion .comprasion__box .comprasion__footer{
  margin-top: 20px;
}
.comprasion .comprasion__box .comprasion__footer ul li .in-basket:hover{
  color: #fff;
  background-color: #6d604c;
  text-decoration: none;
}
.comprasion .comprasion__box .comprasion__footer ul li .delete{
  background-color: #dc1029;
  color: #fff;
  font-family: 'raleway black', sans-serif;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 15px;
  float: right;
}

.comprasion .comprasion__box .comprasion__footer ul li .delete:hover{
  color: #dc1029;
  background-color: #fff;
  border:1px solid #dc1029;
  text-decoration: none;

}
.comprasion .comprasion__box .comprasion__footer ul li{
  margin-right: 20px;

}