@roboto: 'Roboto Condensed', sans-serif;
body,html{
	margin: 0;
	padding: 0;
}

// about company

.company{
	.company__head{
		display: flex;
		flex-direction: column;
		align-items: center;
		.company__title{
			font-size: 36px;
			font-family: @roboto;
			border-bottom:2px solid #C0C809;
			width: 15rem;
			text-align: center;
			margin: 0 auto;
		}
		img{
			width: 80%;
			height: 20rem;
			margin-top: 20px;
		}
	}
	.company__body{
		p{
			font-family: @roboto;
			font-weight: 400;
			letter-spacing: .2px;
			line-height: 25px;
			margin-top: 40px;
			border-left: 3px dashed #C0C809;
			padding-left: 15px;
		}
	}
}

// contacts

.contact{
	.contact__right{
		.contact__right-title{
			font-size: 25px;
			font-family: @roboto;
			border-bottom:2px solid #C0C809;
			text-align: center;
			margin: 0 auto;
		}
		.contact__right-body{
			.contact__num{
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;
				.contact__title{
					font-family: @roboto;
					font-size: 20px;
				}
				li{
					margin-top: 10px;
					list-style-type: none;
					font-family: @roboto;
					letter-spacing: 1px;
					cursor: pointer;
					font-size: 20px;
				}
				.num{
					margin-left: 15px;
				}
			}
			.email{
				margin-top: 30px;
				.email__title{
					font-family: @roboto;
					font-size: 20px;
				}
				li{
					list-style-type: none;
					font-family: @roboto;
					letter-spacing: 1px;
					cursor: pointer;
				}
				.num:hover{
					font-size: 18px;
					color: #E6182C;
				}
			}
			.location{
				margin-top: 30px;
				.location__title{
					font-family: @roboto;
					font-size: 20px;
				}
				li{
					list-style-type: none;
					font-family: @roboto;
					letter-spacing: 1px;
					cursor: pointer;
					.gmap3{
						width: 500px;
						height: 300px;
						border: 1px dashed #C0C0C0;
					}
				}
			}
			.social{
				margin-top: 30px;
				display: flex;
				flex-wrap: wrap;
				.social__title{
					font-family: @roboto;
					font-size: 20px;
				}
				li{
					list-style-type: none;
					font-family: @roboto;
					letter-spacing: 1px;
					cursor: pointer;
					a{
						margin-left: 20px;
						display: block;
						font-size: 20px;
					}
				}
			}
		}
	}
	.contact__left-title{
		font-size: 25px;
		font-family: @roboto;
		border-bottom:2px solid #C0C809;
		text-align: center;
		margin: 0 auto;	
	}
	.contact__left-body{
		p{
			margin-top: 15px !important;
			padding: 10px;
		}
		form{
			display: flex;
			flex-direction: column;
			width: 60%;
			margin: 0 auto;
			input{
				color: #808080;
				border: none;
				border:1px solid rgba(0,0,0,.3);
				background-color: #f6f7f9;
				padding: 13px 10px;
				border-radius: 2px;
				margin-top: 10px;
			}
			textarea{
				color: #808080;
				border: none;
				border:1px solid rgba(0,0,0,.3);
				background-color: #f6f7f9;
				padding: 13px 10px;
				border-radius: 2px;
				margin-top: 10px;
			}
			a{
				display: block;
				margin-top:15px;
				color: #C0C809;
				border:1px solid #C0C809;
			}
			a:hover{
				background-color: #C0C809;
				color: #fff;
			}
		}
	}
}

// reviews

.review{
	.all-review__box{
		li{
			list-style-type: none;
			border-radius: 7px;
			box-shadow: 0 0 10px #C0C809;
			margin-top: 15px;
			.main-box__review{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				img{
					border:1px solid #C0C809;
					width: 7rem; height: 7rem;
					margin: 5px 20px 0 10px;
					border-radius: 50%;
				}
				.review__info{
					width: 70%;
					.name{
						font-family: @roboto;
						font-weight: 700;
						font-size: 16px;
					}
					.reviews__text{
						font-family: @roboto;
						font-size: 14px;
						letter-spacing: .3px;
					}
				}
			}
		}
	}
	.pagination{
		position: absolute;
		right: 1rem;
		.page-item{
			a{
				display: block;
				border:1px solid #C0C809;
				color: #C0C809;
				font-weight: 700;
			}
			a:hover{
				color: #fff;
				background-color: #C0C809;
			}
		}
	}
}

@media only screen and (max-width: 576px){
	.review{
		.all-review__box{
			padding:0;
			li{
				.main-box__review{
					display: flex;
					justify-content: center;
					.review__info{
						.name{
							text-align: center;
							margin-top:10px;
						}
						.reviews__text{
							text-align: center;
						}
						.date{
							float: right;
						}
					}
				}
			}
		}
	}
}